[workspace]
members = [
	"oxide-auth",
	"oxide-auth-actix",
	"oxide-auth-actix/examples/actix-example",
	"oxide-auth-iron",
	"oxide-auth-rocket",
	"oxide-auth-rouille",
	"oxide-auth-db",
	"oxide-auth-db/examples/db-examples",
]

