[package]
name = "oxide-auth"
version = "0.5.0-preview.0"
authors = ["Andreas Molzer <andreas.molzer@gmx.de>"]
repository = "https://github.com/HeroicKatora/oxide-auth.git"

description = "A OAuth2 library for common web servers, featuring a set of configurable and pluggable backends."
readme = "../Readme.md"

keywords = ["oauth", "server", "oauth2"]
categories = ["web-programming::http-server", "authentication"]
license = "MIT OR Apache-2.0"

autoexamples = false

[dependencies]
base64 = "0.11"
chrono = "0.4.2"
hmac = "0.7.1"
once_cell = "1.3.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
sha2 = "0.8.1"
subtle = "2.2.2"
rand = "0.7.3"
rust-argon2 = "0.8.2"
rmp-serde = "0.14"
url = "1.7"

[dev-dependencies]
reqwest = "^0.9"

[package.metadata.docs.rs]
features = []
