[package]
name = "db-example"
version = "0.1.0"
authors = ["liujing <liujingb@mail.taiji.com.cn>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
oxide-auth = { version = "0.5.0-preview.0", path = "../../../oxide-auth" }
oxide-auth-actix = { version = "0.0.1", path = "./../../../oxide-auth-actix" }
oxide-auth-db = { version = "0.1.0", path = "./../../" }
actix = "0.9"
actix-rt = "1.0"
actix-web = "2.0"
env_logger = "0.6"
futures = "0.3"
reqwest = "=0.9.5"
serde = "1.0"
serde_json = "1.0"
url = "1.7"

